.education-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    font-family: roboto;
    background-image: linear-gradient(to right,black, rgb(52, 33, 52));
}
.education-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.education-card {
    color: #fff;
    padding: 20px;
    border: #875BFF solid 1px;
    margin: 15px;
    text-align: center;
    max-width: 400px;
    max-height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.college-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
}
.college-img {
    height: 3rem;
    width: 4rem;
    margin: 0 10px;
    border-radius: 8px;
}
.collegename-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10px;
}
.college-name {
    font-size: 15px;
    color: #fff;
    text-align: left;
}
.education-heading {
    color: darkgray;
    margin: 7px 0px;
}
.education-duration {
    color: darkgray;
}
.gpa {
    color: lightslategray;
    font-weight: 500;
}
.college-description {
    text-align: left;
    color: darkgray;
    margin-top: 8px;
}